form{
    background-color: rgb(80, 0, 69);
    color: wheat;
    font-size: 2em;
    max-width: 1694.5px;
    justify-items: center;
    margin-top: 20%;
    border: outset;
    border-color: rgb(255, 0, 170);
    
}


html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
}

body{
    background-image: url('https://i.pinimg.com/originals/93/e1/f8/93e1f8d69fa334ede4226c192af57fcf.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    margin: 0;
}